body{
    background-color: rgb(146, 146, 50);
    margin: 0;
    height: 20px;
    width: 10px;
}
.para{
    background-color:brown;
    height: 1000px;
    width: 900px;
    text-align: center;
    font-size: larger;
    

}